.page_not_found {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.page_not_found h1 {
    color: yellow;
    font-size: 144pt;
    text-align: center;
    line-height: 100%;
    text-shadow: 10px 10px 10px rgb(180, 139, 5);
}

.page_not_found p {
    color: yellow;
    font-size: 36pt;
    text-align: center;
    text-shadow: 10px 10px 10px rgb(180, 139, 5);
}